<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.alt1</key>
	<string>O_.alt1.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt1</key>
	<string>Q_.alt1.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>_part.sadbowl</key>
	<string>_part.sadbowl.glif</string>
	<key>_part.secondarybowl</key>
	<string>_part.secondarybowl.glif</string>
	<key>_part.shortstem</key>
	<string>_part.shortstem.glif</string>
	<key>_part.shoulder</key>
	<string>_part.shoulder.glif</string>
	<key>_part.tallstem</key>
	<string>_part.tallstem.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>ain-ar</key>
	<string>ain-ar.glif</string>
	<key>ain-ar.fina</key>
	<string>ain-ar.fina.glif</string>
	<key>ain-ar.init</key>
	<string>ain-ar.init.glif</string>
	<key>ain-ar.medi</key>
	<string>ain-ar.medi.glif</string>
	<key>alef-ar</key>
	<string>alef-ar.glif</string>
	<key>alef-ar.fina</key>
	<string>alef-ar.fina.glif</string>
	<key>alefHamzaabove-ar</key>
	<string>alefH_amzaabove-ar.glif</string>
	<key>alefHamzaabove-ar.fina</key>
	<string>alefH_amzaabove-ar.fina.glif</string>
	<key>alefHamzabelow-ar</key>
	<string>alefH_amzabelow-ar.glif</string>
	<key>alefHamzabelow-ar.fina</key>
	<string>alefH_amzabelow-ar.fina.glif</string>
	<key>alefMaksura-ar</key>
	<string>alefM_aksura-ar.glif</string>
	<key>alefMaksura-ar.fina</key>
	<string>alefM_aksura-ar.fina.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>beh-ar</key>
	<string>beh-ar.glif</string>
	<key>beh-ar.fina</key>
	<string>beh-ar.fina.glif</string>
	<key>beh-ar.init</key>
	<string>beh-ar.init.glif</string>
	<key>beh-ar.medi</key>
	<string>beh-ar.medi.glif</string>
	<key>beh-ar.medi.all1</key>
	<string>beh-ar.medi.all1.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dad-ar</key>
	<string>dad-ar.glif</string>
	<key>dad-ar.fina</key>
	<string>dad-ar.fina.glif</string>
	<key>dad-ar.init</key>
	<string>dad-ar.init.glif</string>
	<key>dad-ar.medi</key>
	<string>dad-ar.medi.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dal-ar</key>
	<string>dal-ar.glif</string>
	<key>dal-ar.fina</key>
	<string>dal-ar.fina.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dotabove-ar</key>
	<string>dotabove-ar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotbelow-ar</key>
	<string>dotbelow-ar.glif</string>
	<key>dotlessbeh-ar</key>
	<string>dotlessbeh-ar.glif</string>
	<key>dotlessbeh-ar.all1</key>
	<string>dotlessbeh-ar.all1.glif</string>
	<key>dotlessbeh-ar.fina</key>
	<string>dotlessbeh-ar.fina.glif</string>
	<key>dotlessbeh-ar.init</key>
	<string>dotlessbeh-ar.init.glif</string>
	<key>dotlessbeh-ar.init.all1</key>
	<string>dotlessbeh-ar.init.all1.glif</string>
	<key>dotlessbeh-ar.init.all2</key>
	<string>dotlessbeh-ar.init.all2.glif</string>
	<key>dotlessbeh-ar.medi</key>
	<string>dotlessbeh-ar.medi.glif</string>
	<key>dotlessbeh-ar.medi.all1</key>
	<string>dotlessbeh-ar.medi.all1.glif</string>
	<key>dotlessfeh-ar</key>
	<string>dotlessfeh-ar.glif</string>
	<key>dotlessfeh-ar.fina</key>
	<string>dotlessfeh-ar.fina.glif</string>
	<key>dotlessfeh-ar.init</key>
	<string>dotlessfeh-ar.init.glif</string>
	<key>dotlessfeh-ar.medi</key>
	<string>dotlessfeh-ar.medi.glif</string>
	<key>dotlessyeh-ar</key>
	<string>dotlessyeh-ar.glif</string>
	<key>dotlessyeh-ar.fina</key>
	<string>dotlessyeh-ar.fina.glif</string>
	<key>dotlessyeh-ar.fina.all1</key>
	<string>dotlessyeh-ar.fina.all1.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>feh-ar</key>
	<string>feh-ar.glif</string>
	<key>feh-ar.fina</key>
	<string>feh-ar.fina.glif</string>
	<key>feh-ar.init</key>
	<string>feh-ar.init.glif</string>
	<key>feh-ar.medi</key>
	<string>feh-ar.medi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>ghain-ar</key>
	<string>ghain-ar.glif</string>
	<key>ghain-ar.fina</key>
	<string>ghain-ar.fina.glif</string>
	<key>ghain-ar.init</key>
	<string>ghain-ar.init.glif</string>
	<key>ghain-ar.medi</key>
	<string>ghain-ar.medi.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hah-ar</key>
	<string>hah-ar.glif</string>
	<key>hah-ar.fina</key>
	<string>hah-ar.fina.glif</string>
	<key>hah-ar.init</key>
	<string>hah-ar.init.glif</string>
	<key>hah-ar.init.alt</key>
	<string>hah-ar.init.alt.glif</string>
	<key>hah-ar.medi</key>
	<string>hah-ar.medi.glif</string>
	<key>hamza-ar</key>
	<string>hamza-ar.glif</string>
	<key>hamzacenter-ar</key>
	<string>hamzacenter-ar.glif</string>
	<key>heh-ar</key>
	<string>heh-ar.glif</string>
	<key>heh-ar.fina</key>
	<string>heh-ar.fina.glif</string>
	<key>heh-ar.init</key>
	<string>heh-ar.init.glif</string>
	<key>heh-ar.medi</key>
	<string>heh-ar.medi.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jeem-ar</key>
	<string>jeem-ar.glif</string>
	<key>jeem-ar.fina</key>
	<string>jeem-ar.fina.glif</string>
	<key>jeem-ar.init</key>
	<string>jeem-ar.init.glif</string>
	<key>jeem-ar.init.alt</key>
	<string>jeem-ar.init.alt.glif</string>
	<key>jeem-ar.medi</key>
	<string>jeem-ar.medi.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kaf-ar</key>
	<string>kaf-ar.glif</string>
	<key>kaf-ar.fina</key>
	<string>kaf-ar.fina.glif</string>
	<key>kaf-ar.init</key>
	<string>kaf-ar.init.glif</string>
	<key>kaf-ar.medi</key>
	<string>kaf-ar.medi.glif</string>
	<key>khah-ar</key>
	<string>khah-ar.glif</string>
	<key>khah-ar.fina</key>
	<string>khah-ar.fina.glif</string>
	<key>khah-ar.init</key>
	<string>khah-ar.init.glif</string>
	<key>khah-ar.init.alt</key>
	<string>khah-ar.init.alt.glif</string>
	<key>khah-ar.medi</key>
	<string>khah-ar.medi.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lam-ar</key>
	<string>lam-ar.glif</string>
	<key>lam-ar.fina</key>
	<string>lam-ar.fina.glif</string>
	<key>lam-ar.init</key>
	<string>lam-ar.init.glif</string>
	<key>lam-ar.medi</key>
	<string>lam-ar.medi.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>meem-ar</key>
	<string>meem-ar.glif</string>
	<key>meem-ar.fina</key>
	<string>meem-ar.fina.glif</string>
	<key>meem-ar.init</key>
	<string>meem-ar.init.glif</string>
	<key>meem-ar.medi</key>
	<string>meem-ar.medi.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>noon-ar</key>
	<string>noon-ar.glif</string>
	<key>noon-ar.fina</key>
	<string>noon-ar.fina.glif</string>
	<key>noon-ar.fina.alt</key>
	<string>noon-ar.fina.alt.glif</string>
	<key>noon-ar.init</key>
	<string>noon-ar.init.glif</string>
	<key>noon-ar.medi</key>
	<string>noon-ar.medi.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qaf-ar</key>
	<string>qaf-ar.glif</string>
	<key>qaf-ar.001</key>
	<string>qaf-ar.001.glif</string>
	<key>qaf-ar.fina</key>
	<string>qaf-ar.fina.glif</string>
	<key>qaf-ar.init</key>
	<string>qaf-ar.init.glif</string>
	<key>qaf-ar.medi</key>
	<string>qaf-ar.medi.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>reh-ar</key>
	<string>reh-ar.glif</string>
	<key>reh-ar.fina</key>
	<string>reh-ar.fina.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt</key>
	<string>s.alt.glif</string>
	<key>sad-ar</key>
	<string>sad-ar.glif</string>
	<key>sad-ar.fina</key>
	<string>sad-ar.fina.glif</string>
	<key>sad-ar.init</key>
	<string>sad-ar.init.glif</string>
	<key>sad-ar.medi</key>
	<string>sad-ar.medi.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seen-ar</key>
	<string>seen-ar.glif</string>
	<key>seen-ar.001</key>
	<string>seen-ar.001.glif</string>
	<key>seen-ar.fina</key>
	<string>seen-ar.fina.glif</string>
	<key>seen-ar.init</key>
	<string>seen-ar.init.glif</string>
	<key>seen-ar.medi</key>
	<string>seen-ar.medi.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sheen-ar</key>
	<string>sheen-ar.glif</string>
	<key>sheen-ar.fina</key>
	<string>sheen-ar.fina.glif</string>
	<key>sheen-ar.init</key>
	<string>sheen-ar.init.glif</string>
	<key>sheen-ar.medi</key>
	<string>sheen-ar.medi.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tah-ar</key>
	<string>tah-ar.glif</string>
	<key>tah-ar.fina</key>
	<string>tah-ar.fina.glif</string>
	<key>tah-ar.init</key>
	<string>tah-ar.init.glif</string>
	<key>tah-ar.medi</key>
	<string>tah-ar.medi.glif</string>
	<key>teh-ar</key>
	<string>teh-ar.glif</string>
	<key>teh-ar.fina</key>
	<string>teh-ar.fina.glif</string>
	<key>teh-ar.init</key>
	<string>teh-ar.init.glif</string>
	<key>teh-ar.medi</key>
	<string>teh-ar.medi.glif</string>
	<key>tehMarbuta-ar</key>
	<string>tehM_arbuta-ar.glif</string>
	<key>tehMarbuta-ar.fina</key>
	<string>tehM_arbuta-ar.fina.glif</string>
	<key>thal-ar</key>
	<string>thal-ar.glif</string>
	<key>thal-ar.fina</key>
	<string>thal-ar.fina.glif</string>
	<key>theh-ar</key>
	<string>theh-ar.glif</string>
	<key>theh-ar.fina</key>
	<string>theh-ar.fina.glif</string>
	<key>theh-ar.init</key>
	<string>theh-ar.init.glif</string>
	<key>theh-ar.medi</key>
	<string>theh-ar.medi.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threedotsupabove-ar</key>
	<string>threedotsupabove-ar.glif</string>
	<key>threedotsupbelow-ar</key>
	<string>threedotsupbelow-ar.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twodotshorizontalabove-ar</key>
	<string>twodotshorizontalabove-ar.glif</string>
	<key>twodotshorizontalbelow-ar</key>
	<string>twodotshorizontalbelow-ar.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>veh-ar</key>
	<string>veh-ar.glif</string>
	<key>veh-ar.fina</key>
	<string>veh-ar.fina.glif</string>
	<key>veh-ar.init</key>
	<string>veh-ar.init.glif</string>
	<key>veh-ar.medi</key>
	<string>veh-ar.medi.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>waw-ar</key>
	<string>waw-ar.glif</string>
	<key>waw-ar.fina</key>
	<string>waw-ar.fina.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yeh-ar</key>
	<string>yeh-ar.glif</string>
	<key>yeh-ar.fina</key>
	<string>yeh-ar.fina.glif</string>
	<key>yeh-ar.fina.all1</key>
	<string>yeh-ar.fina.all1.glif</string>
	<key>yeh-ar.init</key>
	<string>yeh-ar.init.glif</string>
	<key>yeh-ar.medi</key>
	<string>yeh-ar.medi.glif</string>
	<key>yehHamzaabove-ar</key>
	<string>yehH_amzaabove-ar.glif</string>
	<key>yehHamzaabove-ar.fina</key>
	<string>yehH_amzaabove-ar.fina.glif</string>
	<key>yehHamzaabove-ar.init</key>
	<string>yehH_amzaabove-ar.init.glif</string>
	<key>yehHamzaabove-ar.medi</key>
	<string>yehH_amzaabove-ar.medi.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zah-ar</key>
	<string>zah-ar.glif</string>
	<key>zah-ar.fina</key>
	<string>zah-ar.fina.glif</string>
	<key>zah-ar.init</key>
	<string>zah-ar.init.glif</string>
	<key>zah-ar.medi</key>
	<string>zah-ar.medi.glif</string>
	<key>zain-ar</key>
	<string>zain-ar.glif</string>
	<key>zain-ar.fina</key>
	<string>zain-ar.fina.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
