<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>FABFC9D4-E17A-4CB6-8F8E-4923CD579275</key>
		<dict>
			<key>HH</key>
			<integer>37</integer>
			<key>HV</key>
			<integer>166</integer>
			<key>OV</key>
			<integer>178</integer>
			<key>arBar</key>
			<integer>152</integer>
			<key>nV</key>
			<real>141.151</real>
			<key>nd</key>
			<integer>131</integer>
			<key>oV</key>
			<integer>144</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>15</integer>
		<key>GSOffsetHorizontal</key>
		<integer>18</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>18</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>FABFC9D4-E17A-4CB6-8F8E-4923CD579275</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>OE.alt</string>
		<string>Q.alt</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>s.alt</string>
		<string>T_T</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_j</string>
		<string>f_m</string>
		<string>f_n</string>
		<string>f_r</string>
		<string>f_t</string>
		<string>f_u</string>
		<string>fi</string>
		<string>fl</string>
		<string>g_f</string>
		<string>g_i</string>
		<string>t_t</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>hamza-ar</string>
		<string>alef-ar</string>
		<string>alef-ar.fina</string>
		<string>alef-ar.short</string>
		<string>alef-ar.fina.short</string>
		<string>alefHamzaabove-ar</string>
		<string>alefHamzaabove-ar.fina</string>
		<string>alefHamzabelow-ar</string>
		<string>alefHamzabelow-ar.fina</string>
		<string>alefMadda-ar</string>
		<string>alefMadda-ar.fina</string>
		<string>alefWasla-ar</string>
		<string>alefWasla-ar.fina</string>
		<string>dotlessbeh-ar</string>
		<string>dotlessbeh-ar.all1</string>
		<string>dotlessbeh-ar.fina</string>
		<string>dotlessbeh-ar.medi</string>
		<string>dotlessbeh-ar.medi.all1</string>
		<string>dotlessbeh-ar.medi.all2</string>
		<string>dotlessbeh-ar.init</string>
		<string>dotlessbeh-ar.init.all1</string>
		<string>dotlessbeh-ar.init.all2</string>
		<string>beh-ar</string>
		<string>beh-ar.all1</string>
		<string>beh-ar.fina</string>
		<string>beh-ar.medi</string>
		<string>beh-ar.medi.all1</string>
		<string>beh-ar.medi.all2</string>
		<string>beh-ar.init</string>
		<string>beh-ar.init.all1</string>
		<string>beh-ar.init.all2</string>
		<string>teh-ar</string>
		<string>teh-ar.all1</string>
		<string>teh-ar.fina</string>
		<string>teh-ar.medi</string>
		<string>teh-ar.medi.all1</string>
		<string>teh-ar.medi.all2</string>
		<string>teh-ar.init</string>
		<string>teh-ar.init.all1</string>
		<string>teh-ar.init.all2</string>
		<string>theh-ar</string>
		<string>theh-ar.all1</string>
		<string>theh-ar.fina</string>
		<string>theh-ar.medi</string>
		<string>theh-ar.medi.all1</string>
		<string>theh-ar.medi.all2</string>
		<string>theh-ar.init</string>
		<string>theh-ar.init.all1</string>
		<string>theh-ar.init.all2</string>
		<string>jeem-ar</string>
		<string>jeem-ar.fina</string>
		<string>jeem-ar.fina.all1</string>
		<string>jeem-ar.medi</string>
		<string>jeem-ar.medi.all1</string>
		<string>jeem-ar.medi.all2</string>
		<string>jeem-ar.init</string>
		<string>jeem-ar.init.all1</string>
		<string>hah-ar</string>
		<string>hah-ar.fina</string>
		<string>hah-ar.fina.all1</string>
		<string>hah-ar.medi</string>
		<string>hah-ar.medi.all1</string>
		<string>hah-ar.medi.all2</string>
		<string>hah-ar.init</string>
		<string>hah-ar.init.all1</string>
		<string>khah-ar</string>
		<string>khah-ar.fina</string>
		<string>khah-ar.fina.all1</string>
		<string>khah-ar.medi</string>
		<string>khah-ar.medi.all1</string>
		<string>khah-ar.medi.all2</string>
		<string>khah-ar.init</string>
		<string>khah-ar.init.all1</string>
		<string>dal-ar</string>
		<string>dal-ar.fina</string>
		<string>thal-ar</string>
		<string>thal-ar.fina</string>
		<string>reh-ar</string>
		<string>reh-ar.fina</string>
		<string>zain-ar</string>
		<string>zain-ar.fina</string>
		<string>seen-ar</string>
		<string>seen-ar.fina</string>
		<string>seen-ar.medi</string>
		<string>seen-ar.medi.all1</string>
		<string>seen-ar.init</string>
		<string>sheen-ar</string>
		<string>sheen-ar.all1</string>
		<string>sheen-ar.all2</string>
		<string>sheen-ar.fina</string>
		<string>sheen-ar.fina.all1</string>
		<string>sheen-ar.fina.all2</string>
		<string>sheen-ar.medi</string>
		<string>sheen-ar.medi.all1</string>
		<string>sheen-ar.init</string>
		<string>sad-ar</string>
		<string>sad-ar.fina</string>
		<string>sad-ar.medi</string>
		<string>sad-ar.medi.all1</string>
		<string>sad-ar.init</string>
		<string>sad-ar.init.all1</string>
		<string>dad-ar</string>
		<string>dad-ar.all1</string>
		<string>dad-ar.all2</string>
		<string>dad-ar.fina</string>
		<string>dad-ar.fina.all1</string>
		<string>dad-ar.fina.all2</string>
		<string>dad-ar.medi</string>
		<string>dad-ar.medi.all1</string>
		<string>dad-ar.init</string>
		<string>dad-ar.init.all1</string>
		<string>tah-ar</string>
		<string>tah-ar.fina</string>
		<string>tah-ar.medi</string>
		<string>tah-ar.init</string>
		<string>zah-ar</string>
		<string>zah-ar.fina</string>
		<string>zah-ar.medi</string>
		<string>zah-ar.init</string>
		<string>ain-ar</string>
		<string>ain-ar.fina</string>
		<string>ain-ar.medi</string>
		<string>ain-ar.init</string>
		<string>ghain-ar</string>
		<string>ghain-ar.fina</string>
		<string>ghain-ar.medi</string>
		<string>ghain-ar.init</string>
		<string>feh-ar</string>
		<string>feh-ar.fina</string>
		<string>feh-ar.medi</string>
		<string>feh-ar.init</string>
		<string>veh-ar</string>
		<string>veh-ar.fina</string>
		<string>veh-ar.medi</string>
		<string>veh-ar.init</string>
		<string>dotlessfeh-ar</string>
		<string>dotlessfeh-ar.fina</string>
		<string>dotlessfeh-ar.medi</string>
		<string>dotlessfeh-ar.init</string>
		<string>dotlessqaf-ar</string>
		<string>dotlessqaf-ar.fina</string>
		<string>qaf-ar</string>
		<string>qaf-ar.fina</string>
		<string>qaf-ar.medi</string>
		<string>qaf-ar.init</string>
		<string>kaf-ar</string>
		<string>kaf-ar.fina</string>
		<string>kaf-ar.medi</string>
		<string>kaf-ar.medi.all1</string>
		<string>kaf-ar.medi.all2</string>
		<string>kaf-ar.init</string>
		<string>kaf-ar.init.all1</string>
		<string>kaf-ar.init.all2</string>
		<string>lam-ar</string>
		<string>lam-ar.fina</string>
		<string>lam-ar.medi</string>
		<string>lam-ar.init</string>
		<string>lam-ar.init.all1</string>
		<string>meem-ar</string>
		<string>meem-ar.fina</string>
		<string>meem-ar.fina.all1</string>
		<string>meem-ar.fina.all2</string>
		<string>meem-ar.medi</string>
		<string>meem-ar.medi.all1</string>
		<string>meem-ar.medi.all2</string>
		<string>meem-ar.init</string>
		<string>noon-ar</string>
		<string>noon-ar.fina</string>
		<string>noon-ar.fina.all1</string>
		<string>noon-ar.medi</string>
		<string>noon-ar.medi.all1</string>
		<string>noon-ar.medi.all2</string>
		<string>noon-ar.init</string>
		<string>noon-ar.init.all1</string>
		<string>noon-ar.init.all2</string>
		<string>heh-ar</string>
		<string>heh-ar.fina</string>
		<string>heh-ar.medi</string>
		<string>heh-ar.medi.all1</string>
		<string>heh-ar.init</string>
		<string>tehMarbuta-ar</string>
		<string>tehMarbuta-ar.fina</string>
		<string>waw-ar</string>
		<string>waw-ar.fina</string>
		<string>wawHamzaabove-ar</string>
		<string>wawHamzaabove-ar.fina</string>
		<string>alefMaksura-ar</string>
		<string>alefMaksura-ar.fina</string>
		<string>alefMaksura-ar.fina.all1</string>
		<string>yeh-ar</string>
		<string>yeh-ar.fina</string>
		<string>yeh-ar.fina.all1</string>
		<string>yeh-ar.medi</string>
		<string>yeh-ar.medi.all1</string>
		<string>yeh-ar.medi.all2</string>
		<string>yeh-ar.init</string>
		<string>yeh-ar.init.all1</string>
		<string>yeh-ar.init.all2</string>
		<string>yehHamzaabove-ar</string>
		<string>yehHamzaabove-ar.fina</string>
		<string>yehHamzaabove-ar.fina.all1</string>
		<string>yehHamzaabove-ar.medi</string>
		<string>yehHamzaabove-ar.medi.all1</string>
		<string>yehHamzaabove-ar.medi.all2</string>
		<string>yehHamzaabove-ar.init</string>
		<string>yehHamzaabove-ar.init.all1</string>
		<string>yehHamzaabove-ar.init.all2</string>
		<string>kashida-ar</string>
		<string>kashida-ar.short</string>
		<string>lam_alef-ar</string>
		<string>lam_alef-ar.fina</string>
		<string>lam_alefHamzaabove-ar</string>
		<string>lam_alefHamzaabove-ar.fina</string>
		<string>lam_alefHamzabelow-ar</string>
		<string>lam_alefHamzabelow-ar.fina</string>
		<string>lam_alefMadda-ar</string>
		<string>lam_alefMadda-ar.fina</string>
		<string>lam_alefWasla-ar</string>
		<string>lam_alefWasla-ar.fina</string>
		<string>alefHamzaabove_alefMaksura-ar</string>
		<string>dotlessbeh_yeh-ar</string>
		<string>beh_heh-ar.medi</string>
		<string>beh_heh-ar.init</string>
		<string>beh_alefMaksura-ar</string>
		<string>beh_yeh-ar</string>
		<string>beh_yehHamzaabove-ar</string>
		<string>teh_heh-ar.medi</string>
		<string>teh_heh-ar.init</string>
		<string>teh_alefMaksura-ar</string>
		<string>teh_yeh-ar</string>
		<string>teh_yehHamzaabove-ar</string>
		<string>theh_heh-ar.medi</string>
		<string>theh_heh-ar.init</string>
		<string>theh_alefMaksura-ar</string>
		<string>theh_yeh-ar</string>
		<string>theh_yehHamzaabove-ar</string>
		<string>feh_alefMaksura-ar</string>
		<string>feh_yeh-ar</string>
		<string>feh_yehHamzaabove-ar</string>
		<string>qaf_alefMaksura-ar</string>
		<string>qaf_yeh-ar</string>
		<string>qaf_yehHamzaabove-ar</string>
		<string>kaf_jeem-ar.init</string>
		<string>kaf_hah-ar.init</string>
		<string>kaf_khah-ar.init</string>
		<string>kaf_meem-ar</string>
		<string>kaf_meem-ar.init</string>
		<string>kaf_alefMaksura-ar</string>
		<string>kaf_yeh-ar</string>
		<string>kaf_yehHamzaabove-ar</string>
		<string>lam_jeem-ar.init</string>
		<string>lam_hah-ar.init</string>
		<string>lam_khah-ar.init</string>
		<string>lam_lam_heh-ar</string>
		<string>lam_meem-ar</string>
		<string>lam_meem-ar.init</string>
		<string>noon_heh-ar.medi</string>
		<string>noon_heh-ar.init</string>
		<string>noon_alefMaksura-ar</string>
		<string>noon_yeh-ar</string>
		<string>noon_yehHamzaabove-ar</string>
		<string>yeh_heh-ar.medi</string>
		<string>yeh_heh-ar.init</string>
		<string>yehHamzaabove_heh-ar.medi</string>
		<string>yehHamzaabove_heh-ar.init</string>
		<string>yehHamzaabove_alefMaksura-ar</string>
		<string>yehHamzaabove_yeh-ar</string>
		<string>yehHamzaabove_yehHamzaabove-ar</string>
		<string>allah-ar</string>
		<string>dotlessbeh_heh-ar.init</string>
		<string>dotlessbeh_heh-ar.medi</string>
		<string>kaf_alef-ar.fina</string>
		<string>kaf_kaf-ar</string>
		<string>kaf_kaf-ar.init</string>
		<string>kaf_lam-ar</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>decimalseparator-ar</string>
		<string>thousandseparator-ar</string>
		<string>zero-ar</string>
		<string>one-ar</string>
		<string>two-ar</string>
		<string>three-ar</string>
		<string>four-ar</string>
		<string>five-ar</string>
		<string>six-ar</string>
		<string>seven-ar</string>
		<string>eight-ar</string>
		<string>nine-ar</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft.alt</string>
		<string>braceright.alt</string>
		<string>bracketleft.alt</string>
		<string>bracketright.alt</string>
		<string>parenleft.alt</string>
		<string>parenright.alt</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>comma-ar</string>
		<string>semicolon-ar</string>
		<string>question-ar</string>
		<string>asterisk-ar</string>
		<string>parenleft-ar</string>
		<string>parenright-ar</string>
		<string>space</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>liraTurkish</string>
		<string>ruble</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>percent-ar</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>commaturnedabovecomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>slashshortcomb</string>
		<string>slashlongcomb</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>ogonekcomb.case</string>
		<string>strokeshortcomb</string>
		<string>strokelongcomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>hungarumlaut.case</string>
		<string>macron.case</string>
		<string>tahabove-ar</string>
		<string>tahbelow-ar</string>
		<string>dotabove-ar</string>
		<string>dotbelow-ar</string>
		<string>dotcenter-ar</string>
		<string>twodotsverticalabove-ar</string>
		<string>twodotsverticalbelow-ar</string>
		<string>twodotshorizontalabove-ar</string>
		<string>twodotshorizontalbelow-ar</string>
		<string>threedotsdownabove-ar</string>
		<string>threedotsdownbelow-ar</string>
		<string>threedotsupabove-ar</string>
		<string>threedotsupbelow-ar</string>
		<string>wasla-ar</string>
		<string>alefabove-ar</string>
		<string>alefbelow-ar</string>
		<string>hamzaabove-ar</string>
		<string>hamzabelow-ar</string>
		<string>hamzacenter-ar</string>
		<string>hamzaaboveDamma-ar</string>
		<string>hamzaaboveDamma-ar.alt</string>
		<string>hamzaaboveDammatan-ar</string>
		<string>hamzaaboveDammatan-ar.alt</string>
		<string>hamzaaboveFatha-ar</string>
		<string>hamzaaboveFathatan-ar</string>
		<string>hamzaaboveSukun-ar</string>
		<string>hamzaaboveSukun-ar.alt</string>
		<string>hamzabelowKasra-ar</string>
		<string>hamzabelowKasratan-ar</string>
		<string>fathatan-ar</string>
		<string>dammatan-ar</string>
		<string>dammatan-ar.alt</string>
		<string>kasratan-ar</string>
		<string>fatha-ar</string>
		<string>damma-ar</string>
		<string>damma-ar.alt</string>
		<string>kasra-ar</string>
		<string>shadda-ar</string>
		<string>shadda-ar.alt</string>
		<string>sukun-ar</string>
		<string>sukun-ar.alt</string>
		<string>madda-ar</string>
		<string>shaddaAlefabove-ar</string>
		<string>shaddaAlefabove-ar.alt</string>
		<string>shaddaDamma-ar</string>
		<string>shaddaDamma-ar.alt</string>
		<string>shaddaDammatan-ar</string>
		<string>shaddaDammatan-ar.alt</string>
		<string>shaddaFatha-ar</string>
		<string>shaddaFatha-ar.alt</string>
		<string>shaddaFathatan-ar</string>
		<string>shaddaFathatan-ar.alt</string>
		<string>shaddaKasra-ar</string>
		<string>shaddaKasra-ar.alt</string>
		<string>shaddaKasratan-ar</string>
		<string>shaddaKasratan-ar.alt</string>
		<string>dammainverted-ar</string>
		<string>dammainverted-ar.alt</string>
		<string>meemabove-ar</string>
		<string>meembelow-ar</string>
		<string>dotlessyeh-ar.fina</string>
		<string>dotlessyeh-ar</string>
		<string>_part.shoulder</string>
		<string>_part.shortstem</string>
		<string>_part.tallstem</string>
		<string>_part.secondarybowl</string>
		<string>_part.sadbowl</string>
		<string>dotlessyeh-ar.fina.all1</string>
		<string>dotlessyeh-ar.fina.all2</string>
		<string>_part.Kafflag</string>
	</array>
</dict>
</plist>
