// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 800px;
  margin-left:  auto;
  margin-right: auto;
}
@media only screen and(max-width: 900px) {
	.container {
		margin: 0 auto;
		width: 100%;
		padding: 0 2em;
	}
}

footer {
  margin-bottom: 2rem;
}
