// Masthead
//
// Super small header above the content for site name and short description.

header.masthead {
  margin: 0 auto 0 auto;
  padding: 50px 3% 3% 3%;
  font-family: $font_1;
  font-weight: 300;
  font-style: normal;
  font-size: 23px;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
ul{
  &.masthead-ul {
    float: right;
    margin: 0 0 1em 0;
  }
}
li {
  &.masthead-li {
    float: right;
    margin: 0 0 0 1em;
    line-height: 1em;
    font-size: 16px;
    list-style: none;
    a {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}