// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  overflow: hidden; // clearfix
  margin: 0 0 0 0;
  color: #ccc;
  text-align: center;
}

// Pagination items can be `span`s or `a`s
.pagination-item {
  color: rgba(255, 127, 250, 1);
   text-align: center;
   padding: 8px;
   border: 1px solid rgba(255, 127, 250, 1);
   font-family: $font_1;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
   letter-spacing: 2px;
   width: 70px;
}

.pagination-item.older{
  font-family: tablet-gothic-compressed;
   font-weight: 400;
   font-style: normal;
   float: right;
   color: rgba(255, 127, 250, 1);
   text-align: center;
   padding: 8px;
   border: 1px solid rgb(255, 127, 250);
   text-transform: uppercase;
   letter-spacing: 2px;
}

.pagination-item.newer{
   float: left;
   font-family: tablet-gothic-compressed;
   font-weight: 400;
   font-style: normal;
   text-transform: uppercase;
   letter-spacing: 2px;
   padding: 8px;
   color: rgba(255, 127, 250, 1);
   border: 1px solid rgb(255, 127, 250);
   text-align: center;
}