// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  font-size: 1.1em;
  line-height: 1.421em;
  color: $color_mine_shaft_80_approx;
  margin: 0 0 1.421em 0;
  font-family: $font_3;
  font-weight: 400;
  font-style: Normal;
  border: 0;
  &.intro {
    font-family: $font_1;
    font-size: 1.27em;
    border-top: 1px;
    border-bottom: 1px;
    padding: 1.154em;
    text-align: center;
    border-style: solid;
    line-height: 1.5em;
    margin: 1.038em 0;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-color: $color_blush_pink_approx;
  }
  &.pullquote {
    border-style: solid;
    color: $color_blush_pink_approx;
    font-size: 1em;
    line-height: 1.421em;
    margin: 0 0 1.421em 0;
    clear: none;
    float: left;
    width: 780px;
    font-family: $font_1;
    font-weight: 100;
    font-style: normal;
    text-indent: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-width: 1px;
    padding: 10px 10px 10px 15px;
    border-color: $color_blush_pink_approx;
  }
  &.caption {
    margin: 10px 0 40px;
    font-size: 14px;
    font-family: $font_4;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 10px 0 0;
    border-color: $color_blush_pink_approx;
  }
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: 0;
  margin: 0;

  p:last-child {
    border-style: solid;
    color: $color_blush_pink_approx;
    font-size: 1em;
    line-height: 1.421em;
    margin: 0 0 1.421em 0;
    clear: none;
    float: left;
    width: 780px;
    font-family: $font_1;
    font-weight: 300;
    font-style: normal;
    text-indent: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-width: 1px;
    padding: 10px 10px 10px 15px;
    border-color: $color_blush_pink_approx;
  }

  
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
